$text :#404041;
$brand-orange :#f47820;
$brand-orange2 :#f06018;
$brand-blue: #253e98;
$brand-blue2 :#496cc4;
$brand-blue3: #3e66f8;
$brand-violet:#8340d6;
$brand-violet2:#8340d6;
$brand-violet3:#7420e7;
$brand-green:#19d2b5;
$white: #ffffff;
$light-blue:#f5fbff;
$dark-blue:#eef2f6;
$footer-bg:#fbfdff;
$footer-line:#dceef2;
$border-blue:#c3d2e7;
$red:#ee2e3e;
$brand-yellow:#ffd200;
$brand-black:#0e0e0e;
$brand-violet4:#791fe0;


$green-button-normal:#45bc42;
$green-button-hover: rgb(59, 156, 46);



// Gradients

$brand-orange-grad : linear-gradient(145deg, rgb(247, 167, 73) 0%, rgb(242, 96, 25) 100%);
$brand-blue-grad : linear-gradient(145deg, rgb(56, 83, 181) 0%, rgb(102, 150, 222) 100%);
$brand-blue-grad2 : linear-gradient(145deg,#243d99,#496cc4);
$brand-blue-grad3 : linear-gradient(145deg,#4929eb,#6a00ef);
$pink-grad :linear-gradient( 51deg, rgb(58,28,113) 0%, rgb(215,109,119) 50%, rgb(255,175,123) 99%);
$bg-grad :linear-gradient( 51deg, rgb(255, 255, 255) 0%, rgb(247, 251, 255) 99%);
$bg-grad2 :linear-gradient(145deg,#ffffff,#dae5f5);

