$widthMouse: 25px;
$heightMouse: 45px;
$borderMouse: 4px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 7px;
$posTrackball: 10px;
$shrinkTrackball: 0.4;

$animDuration: 5s;

@mixin bgGradient {
  background:
    $brand-orange linear-gradient(transparent 0%,
    transparent 50%,
    $text 50%,
    $text 100%);
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }

  20% {
    background-position: 0% 0%;
  }

  21% {
    background-color: $brand-orange;
  }

  29.99% {
    background-color: $text;
    background-position: 0% 0%;
  }

  30% {
    background-color: $brand-orange;
    background-position: 0% 100%;
  }

  50% {
    background-position: 0% 0%;
  }

  51% {
    background-color: $brand-orange;
  }

  59% {
    background-color: $text;
    background-position: 0% 0%;
  }

  60% {
    background-color: $brand-orange;
    background-position: 0% 100%;
  }

  80% {
    background-position: 0% 0%;
  }

  81% {
    background-color: $brand-orange;
  }

  90%,
  100% {
    background-color: $text;
  }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }

  6% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }

  14% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }

  15%,
  19% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }

  28%,
  29.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }

  30% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }

  36% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }

  44% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }

  45%,
  49% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }

  58%,
  59.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }

  60% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }

  66% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }

  74% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball*2);
  }

  75%,
  79% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }

  88%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
}

@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY($posMouse);
  }

  30% {
    transform: translateY(0);
  }

  50% {
    transform: translateY($posMouse);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY($posMouse);
  }

  90% {
    transform: translateY(0);
  }
}

@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY($posText);
  }

  30% {
    transform: translateY(0);
  }

  50% {
    transform: translateY($posText);
  }

  60% {
    transform: translateY(0);
  }

  80% {
    transform: translateY($posText);
  }

  90% {
    transform: translateY(0);
  }
}

@keyframes colorText {
  21% {
    color: $brand-orange;
  }

  30% {
    color: $text;
  }

  51% {
    color: $brand-orange;
  }

  60% {
    color: $text;
  }

  81% {
    color: $brand-orange;
  }

  90% {
    color: $text;
  }
}

@mixin hzone-button ($bgColor) {
  // color:$white;
  background-color:$bgColor;
  transform: scale(1);
  transition: all 0.5s ease;
  &:hover{
    transform: scale(1.01);
    background-color: lighten($bgColor, 8%);
    box-shadow: rgba($bgColor, 0.3) 0px 20px 40px -10px;
  }
}